<h1><%= @song.id ? 'Edit Song' : 'Add Song' %></h1>

<%= form_for [@artist, @song ] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
  <%= f.label :genre %>
  <%= f.text_field :genre, required: true %>
  <%= f.label :length %>
  <%= f.text_field :length, required: true %>

  <%= f.submit %>
<% end %>
