<h1><%= @song.name %></h1>
<h3>Genre: <%= @song.genre %></h3>
<h3>Song Length: <%= @song.length %></h3>
<%= link_to 'Edit Song', edit_artist_song_path(@artist) %>
<br />
<%= link_to 'Delete', [@artist, @song], method: :delete %>
<p><%= link_to "Back to #{@artist.name} song list", artist_songs_path(@artist) %></p>
