<h1><%= @song.name %> - <%= @song.genre %> - <%= @song.length %></h1>
<h3><%= link_to "Back to songs", artist_songs_path %></h3>
<hr />

<%= link_to 'Edit Song', edit_artist_song_path(@artist) %>
<%= link_to 'Delete', [@artist, @song], method: :delete%>