<h1><%= @billboard.id ? 'Edit Billboard' : 'Create Billboard' %></h1>
<%= form_for @billboard do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name, required: true %>
	<br />
	<%= f.submit %>
<% end %>