<h1><%= @billboard.name %></h1>
<%= link_to 'View Artists', billboard_artists_path(@billboard) %>
<br />
<%= link_to 'Edit', edit_billboard_path(@billboard) %>
<br />
<%= link_to 'Delete', @billboard, method: :delete %>
<br />
<p><%= link_to 'Top Billboards Home', root_path %></p>
